<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Employee Registration{% endblock %}</title>
    <link href="{{ asset('css/style.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" />


</head>

<body>

{% if is_granted('ROLE_USER') %}
    <a href="{{ path('fos_user_security_logout') }}">Logout</a>

{% else %}
    <a href="{{ path('fos_user_security_login') }}">Login</a>
{% endif %}

{% block body %}{% endblock %}


<script href="{{ asset('js/bootstrap.js') }}"></script>
<script href="{{ asset('js/jquery-3.3.1.min.js') }}"></script>

</body>

</html>